.titulo-principal{
    text-align: center;
    background-color: #851944;
    color: white;
    padding: 25px;
    border-bottom: 10px solid black;
    font-size: 60px;
    line-height: 1.5
}

h2{
    background-color: #851944;
    color: white;
}
main{
    width: 60%;
    float: right;
    text-align: center;
    margin: auto;
    font-family: sans-serif;
}

.minha-foto{
    width: 300px;
    height: 300px;
    float: right;
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
}

.navegacao-site{
    width: 20%;
    float: left;
    position: absolute;
    top:190px;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
}

aside {
    background-color: grey;
    color: #F2FFFC;
    margin-bottom: 25px;
    text-align: center;
}
section{
    float: center;
    width: 60%;
    margin-bottom: 200px;
}

.rodape{
  background-color: #000;
   color: #F2FFFC;
  clear: both;
   position: fixed;
   bottom: 0;
   left: 0;
  width: 100%;
}